@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  color: black;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.dark body {
  background: black;
  color: white;
}